.favorite-icon {
  transition: opacity 0.1s ease-in;
}

.activity-card .favorite-icon:not(.favorited) {
  display: none;
}

.activity-card:hover .favorite-icon {
  display: inherit;
}

.slideIn {
  animation-name: slideIn;
  animation-duration: 0.5s;
}

.slideIn.from-right {
  animation-name: slideinFromRight;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(70%);
  }

  to {
    opacity: 1;
  }
}

@keyframes slideinFromRight {
  from {
    opacity: 0;
    transform: translateX(70%);
  }

  to {
    opacity: 1;
  }
}
