.slideIn {
  animation-name: slideIn;
  animation-duration: 0.5s;
}

.slideIn.from-right {
  animation-name: slideinFromRight;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(70%);
  }

  to {
    opacity: 1;
  }
}

@keyframes slideinFromRight {
  from {
    opacity: 0;
    transform: translateX(70%);
  }

  to {
    opacity: 1;
  }
}
